.header{
    background-image: url("https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg");
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    .bg-color{
        background-color: rgb(0, 0, 0,0.4);
        height: 80vh;
    }
    .nav-menu{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        

        .nav-items ul{
            display: flex;
            gap: 25px;
            font-weight: bold;
           
        
        }
    }
    .header-name{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        
         .h1{
            font-size: 40px;
            
        }
         .span{
            font-size: 24px;
            font-weight: 100;
        }
    }
   
}






