.section{
    width: 100%;
    height: 1100px;
    display: grid;
    justify-content: center;
    align-items: end;

    .box{
    width: 700px;
    height: 170px;
    .box-head{
        font-size: 26px;
    }
    .box-info{
        font-size: 26px;
        font-weight: 100    ;
    }
    .box-date{
        font-size: 18px;
        font-style: italic; 
        color: #6c757d;
    }
    }
    .btn{
        display: flex;
        justify-content: end;
    .btn1{
        width: 180px;
        height: 55px;
        background-color: #0085A1;
        text-align: center;
        line-height: 55px;
        a{
            color: white;
            font-size: 14px;
            font-weight: bold;
          
            i{
                font-size: 13px;

            }
        }
    }
}
}